{% extends 'base.html' %}
{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}
{% block content %}
<div class="reviews">
    <h1>Редактирование отзывов</h1>
    <div class="comments">

        <h2 class="comment_title">Обновления комментария</h2>
        <form method="POST" action="#" class="form_login" autocomplete="off">
            {{ form.csrf_token }}
            <p>
              {{ form.author.label }}
              {{ form.author(size=32) }}
            </p>
            <p>
                {{ form.text.label(class="form-control-label") }}
            </p>
            <p>
                {{ form.text(class="form-control") }}
            </p>
            <p>
                {{ form.submit(class="btn btn-primary") }}
            </p>
        </form>
    </div>
</div>
{% endblock %}