{% extends "base.html" %}
{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}
{% block content %}
    <section>
        <div class="list">
            <div class="building">
                <h1>КОНТАКТЫ</h1>
                <p><span class="building_contacts">Адрес:</span> 297605, Россия, Крым, Ялта, п. Лесное, ул. Лесная 3а</p>
                <p><span class="building_contacts">Телефон:</span> +7 (927) 780 39 17 или +7 (909) 775 80 53</p>
                <p><span class="building_contacts">E-mail:</span> building@mail.ru</p>
                <p><span class="building_contacts">Время работы:</span> понедельник-пятница с 9:00 до 17:00</p>
                <p>Выходной: суббота, воскресенье</p>
           </div>
        </div>
    </section>
{% endblock %}