{% extends 'base.html' %}
{% block title %}
    {{ super() }} - {{ title }}
{% endblock %}
{% block content %}
<section>
    <div class="list">
    <h1>Фото Наших работ</h1>
<!--    <div class="bg">-->
        <div class="slider">
            <ul class="bxslider">
                <li><img src="{{ url_for('static', filename='images/img1.png') }}" width="800" height="500" alt="" ></li>
                <li><img src="{{ url_for('static', filename='images/img2.png') }}" width="800" height="500" alt="" ></li>
                <li><img src="{{ url_for('static', filename='images/img3.png') }}" width="800" height="500" alt="" ></li>
            </ul>
        </div>
<!--    </div>-->
    </div>
</section>
{% endblock %}